body {
    align-content: flex-start;
}

.box-frame {
    background: none;
    border: none;
}

.title {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.charts {
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.chart {
    flex: 1;
    margin: 8px;
}

.stock-chart {
    height: 16em;
    width: 100%;
    margin: 8px;
}

canvas {
    background: white;
    padding: 4px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
