* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

html {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

html, body {
    width: 100%;
    min-height: 100%;
    background:#1b1b1b;
}

.box-frame {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: #838383;
    border-radius: 1px;
    border: 2px solid #4a4a4a;

    padding: 4px;
    margin: 2px;
}

.field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

button {
    padding: 4px;
    margin: 8px 0px;
    font-size: 1em;
    flex: 1;
    font-weight: bold;
    color: black;
}

input {
    color: black;
}

button {
    cursor: pointer;
}

span.button {
    cursor: pointer;
    transition: color 0.5s;
}

span.button:hover {
    filter: drop-shadow(0 0 0.75rem #008000);
}

span.button:active {
    color: #008000;
}

.overlay {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.overlay > * {
    pointer-events: auto;
}

.dialog {
    padding: 4px;
    background: #3b3b3b;
    border-radius: 4px;
    margin: 8px;
}