body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 1.5em;
    color: black;
}

button {
    padding: 4px;
    margin: 8px 0px;
    font-size: 1em;
    flex: 1;
    font-weight: bold;
}

button#register {
    background: #ececec;
    color: black;
    margin-right: 2px;
}

button#login {
    background: #257248;
    text-shadow: 1px 1px 0px #000000;
    color: white;
    margin-left: 2px;
}

.field {
    margin-bottom: 4px;
}

.field span {
    text-align: left;
}

#logo {
    height: 8em;
    width: 8em;
    align-self: center;
}